{% extends 'app/base.html' %}

{% block content %}
    <div id="content-wrapper">

        <!-- TT-PAGELABEL -->
        <div class="tt-pagelabel background-block" style="background-image:url(img/breadcrumbs/breadcrumbs.jpg);">
            <div class="container">
                <h1 class="tt-pagelabel-title">Bİz Kİmİz?</h1>
            </div>
        </div>

        <!-- TT-BREADCRUMB -->
        <div class="tt-breadcrumbs-wrapper">
            <div class="container">
                <ul class="tt-breadcrumbs">
                    <li><a href="index.html">Ana Sayfa</a></li>
                    <li><span>Hakkımızda</span></li>
                </ul>
            </div>
        </div>


        <div class="bg-1">
            <div class="container">
				<div class="empty-space marg-lg-b70 marg-md-b60"></div>

					<h3 class="tt-commercial-title">Artge Hijyen Kİmdİr?</h3>
					<div class="empty-space marg-lg-b20 marg-md-b60"></div>
						<p align="left" style="text-align:justify">Şirketimiz 2004 yılında kurulmuş olup 2011 yılına kadar endüstriyel temizlik hizmeti, temizlik

							malzemeleri üretimi ve satışı konularında faliyet göstermiştir.</br></br>

							2011 yılında Prosil sistemi ar-ge'sini tamamlayan

							şirketimiz klasik yöntemlerle temizlik hizmeti yapmama kararı almış ve o tarihten sonra Prosil temizleme sistemini hayata geçirilmesi çalışmalarına odaklanmıştır.
							Şuan geldiğimiz noktada beş ayrı projede 250 kişi ile Prosil

							temizleme hizmeti uygulaması başarı ile sürdürülmektedir. </br></br>



							Şirketimiz beş yılı aşkın süredir Prosil temizleme sistemini hayata geçirmiş olup, sürdürülebilir bir temizleme

							modeli olduğunu kanıtlamıştır. Son iki-üç yıldır sektörümüzün bazı malzeme üreticileri ve hizmet firmaları

							bizimle paralel iş mantığıyla çalışan çeşitli konseptler ortaya koymaya çalışmaktadırlar.Bu gelişmeler bilinçli

							hizmet alıcılarının hijyen artışı, maliyet avantajı ve kontrolünü sağlayan Prosil sistem ve benzeri amaca hizmet

							eden sistemleri tercih etmelerine neden olmaktadır.</br></br>



							Şirketimiz, çalışmalarımızın endüstriyel temizlik hizmetleri sektörü tarafından onay ve takdir edinmesinden

							ayrıca sektörümüze böylesine faydalı bir iş modeli konusunda öncülük etmenin haklı gururunu yaşamaktadır.

							Şirketimiz önümüzdeki günlerde de bu tarz innovatif çalışmalarına devam edecektir.</p>


				<div class="empty-space marg-lg-b70 marg-md-b60"></div>
			</div>
		</div>
{%endblock content%}
