{% extends 'app/base.html' %}

{% block content %}

        <!-- REVOLUTION SLIDER -->
        <div class="rev_slider_wrapper">
            <div class="rev_slider"  data-version="5.0">
                <ul>
                    <li data-transition="parallaxvertical" data-ease="SlowMo.ease">
                        <img src="{{ STATIC_URL }}img/slider/slide_3.jpg" height="650" width="1920"  alt="">

                        <h1 class="tp-caption sfb tp-resizeme tt-rev-title"
                            data-x="left" data-hoffset="620"
                            data-y="top" data-voffset="167"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="o:0"
                            data-transform_out="o:0"
                            data-start="500">
                            Kontamİnasyon Rİskİnİ<br>
                            <span>Sıfıra Düşürür</span>
                        </h1>

                        <div class="tp-caption sfb tp-resizeme simple-text size-5 color-2 font-5"
                            data-x="left" data-hoffset="620"
                            data-y="top" data-voffset="291"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="o:0"
                            data-transform_out="o:0"
                            data-start="1000">
                            <p><i>Prosil temizlik sisteminde uygulanan teknik</br>
                             sayesinde konatminasyon ihtimali yüksek yerlerde</br>
                              dahi bulaşmanın önüne geçmeniz mümkün.</i></p>
                        </div>

                        <a class="tp-caption sfr tp-resizeme c-btn type-1 color-7" href="prosil.html"
                            data-x="left" data-hoffset="620"
                            data-y="top" data-voffset="422"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="o:0"
                            data-transform_out="o:0"
                            data-start="2000">
                            <span>Prosİl Nedir?</span>
                        </a>

                        <a class="tp-caption sfl tp-resizeme c-btn type-1 color-2" href="#products"
                            data-x="left" data-hoffset="820"
                            data-y="top" data-voffset="422"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="o:0"
                            data-transform_out="o:0"
                            data-start="1500">
                            <span>Prosİl Ekipmanları</span>
                        </a>
                    </li>

                    <li data-transition="parallaxvertical" data-ease="SlowMo.ease">
                        <img src="{{ STATIC_URL }}img/slider/slide_5.jpg" height="650" width="1920"  alt="">

                        <h1 class="tp-caption sfb tp-resizeme tt-rev-title-2"
                            data-x="left" data-hoffset="0"
                            data-y="top" data-voffset="167"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="o:0"
                            data-transform_out="o:0"
                            data-start="500">
                            Su Tasarrufu<br> <span>Sağlayın</span>
                        </h1>

                        <div class="tp-caption sfb tp-resizeme simple-text size-5 color-2 font-5"
                            data-x="left" data-hoffset="0"
                            data-y="top" data-voffset="298"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="o:0"
                            data-transform_out="o:0"
                            data-start="1000">
                            <p><i>Prosil sistem ile temizlik yaparken maksimum hijyen<br>
                            için yeterli miktarda su kullanırsınız, bu miktar standart temizlikte<br> kullanılanın çok altındadır.</i></p>
                        </div>

                        <a class="tp-caption sfr tp-resizeme c-btn type-1 color-2" href="#products"
                            data-x="left" data-hoffset="200"
                            data-y="top" data-voffset="422"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="o:0"
                            data-transform_out="o:0"
                            data-start="2000">
                            <span>Prosİl Ekİpmanları</span>
                        </a>

                        <a class="tp-caption sfl tp-resizeme c-btn type-1" href="prosil.html"
                            data-x="left" data-hoffset="0"
                            data-y="top" data-voffset="422"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="o:0"
                            data-transform_out="o:0"
                            data-start="1500">
                            <span>Prosİl Nedİr?</span>
                        </a>
                    </li>

                    <li data-transition="parallaxvertical" data-ease="SlowMo.ease">
                        <img src="{{ STATIC_URL }}img/slider/slide_4.jpg" height="650" width="1920"  alt="">


                        <h2 class="tp-caption sfb tp-resizeme tt-rev-title-3"
                            data-x="left" data-hoffset="655"
                            data-y="top" data-voffset="135"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="o:0"
                            data-transform_out="o:0"
                            data-start="500">
                            İş Gücü Verİmİnİ
                        </h2>

                        <h2 class="tp-caption sfb tp-resizeme tt-rev-title-3 color-2"
                            data-x="left" data-hoffset="655"
                            data-y="top" data-voffset="197"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="o:0"
                            data-transform_out="o:0"
                            data-start="700">
                            %20 Arttırır
                        </h2>

                        <div class="tp-caption sfb tp-resizeme simple-text size-5 color-6 font-5"
                            data-x="left" data-hoffset="655"
                            data-y="top" data-voffset="286"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="o:0"
                            data-transform_out="o:0"
                            data-start="1000">
                            <p><i>Prosil sistem temizlik aşamalarını azaltarak çalışanlarınızın verimini,<br>
                            hijyen kalitesini arttırarak ise onların motivasyonunu <br> belirgin miktarda iyileştirir.</i></p>
                        </div>

                        <a class="tp-caption sfr tp-resizeme c-btn type-1" href="#products"
                            data-x="left" data-hoffset="655"
                            data-y="top" data-voffset="422"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="o:0"
                            data-transform_out="o:0"
                            data-start="2000">
                            <span>Prosİl Ekİpmanları</span>
                        </a>

                        <a class="tp-caption sfl tp-resizeme c-btn type-1 color-2" href="prosil.html"
                            data-x="left" data-hoffset="907"
                            data-y="top" data-voffset="422"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="o:0"
                            data-transform_out="o:0"
                            data-start="1500">
                            <span>Prosİl Nedİr?</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="empty-space marg-lg-b85 marg-md-b60"></div>

        <!-- TT-COMMERCIAL -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="simple-text">
                        <h3>ARTGE Hİjyen Çözümlerİne Hoşgeldİnİz</h3>
                        <p>ARTGE şirketi olarak 12 yıldır müşterilerimize çevre dostu ve hesaplı bir şekilde maksimum
                        hijyeni sağlayabilmek amacıyla temizlik sistemleri geliştiriyoruz. Prosil sistem ile 5 yılı aşkın
                        süredir bu hedefimize ulaştığımızı gururla söyleyebiliriz. Prosil sistem ile sahip olacaklarınız:</p>
                    </div>
                    <div class="empty-space marg-lg-b30"></div>
                    <ul class="custom-links">
                        <li><a >Deneysel olarak ölçümlerle ispatlanmış yüksek hijyen</a></li>
                        <li><a >Alışılmış yöntemlere oranla minimum %50 su tasarrufu</a></li>
                        <li><a >Standart yönteme oranla kimyasal kullanımı ve atık miktarında optimizasyon</a></li>
                        <li><a >Çalışanlarınızın veriminde minimum %20 artış</a></li>
                        <li><a >Tüm bunların yanı sıra maliyetinizin azalması ve kolyalıkla bütçelenebilir hale gelmesi</a></li>
                    </ul>
                    <div class="empty-space marg-sm-b30"></div>
                </div>
                <div class="col-sm-6">
                    <div class="tt-commercial clearfix">
                        <a class="tt-commercial-img custom-hover" href="prosilSatis.html">
                            <img class="img-responsive" src="{{ STATIC_URL }}img/commercial/commercial_1.jpg" height="161" width="270" alt="">
                        </a>
                        <div class="tt-commercial-info">
                            <a class="tt-commercial-title" href="prosilSatis.html">Prosil Temizlik Hizmeti</a>
                            <div class="simple-text">
                                <p>Bu seçenekte, temizlik çalışanları bizim şirketimiz bünyesindedir. Gerekli tüm ekipman,
							 makine ve sarf malzeme yatırımları şirketimiz tarafından yapılmaktadır...</p>
                            </div>
                            <a class="c-btn type-2" href="prosilSatis.html">Devamını Oku</a>
                        </div>
                    </div>
                    <div class="empty-space marg-lg-b30"></div>

                    <div class="tt-commercial clearfix">
                        <a class="tt-commercial-img custom-hover" href="prosilSistem.html">
                            <img class="img-responsive" src="{{ STATIC_URL }}img/commercial/commercial_2.jpg" height="161" width="270" alt="">
                        </a>
                        <div class="tt-commercial-info">
                            <a class="tt-commercial-title" href="prosilSistem.html">Prosil Sistem Satışı</a>
                            <div class="simple-text">
                                <p>Temizlik hizmetlerinizi kendi bünyenizde yapıyor ve bu sistemi kullanmayı düşünüyorsanız
							bu seçenek tam size göre...</p>
                            </div>
                            <a class="c-btn type-2" href="prosilSistem.html">Devamını Oku</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-space marg-lg-b70 marg-md-b60"></div>
        </div>

        <!-- TT-SERVICE -->
        <div class="bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <div class="tt-service-icon">
                                <img src="{{ STATIC_URL }}img/service/service_13.png" height="107" width="107" alt="">
                            </div>
                            <div class="tt-service-info">
                                <a class="tt-service-title c-h5" >Hijyen Sağlayın</a>
                            </div>
                        </div>
                        <div class="empty-space marg-sm-b30"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <div class="tt-service-icon">
                                <img src="{{ STATIC_URL }}img/service/service_14.png" height="107" width="107" alt="">
                            </div>
                            <div class="tt-service-info">
                                <a class="tt-service-title c-h5" >Doğayı Koruyun</a>
                            </div>
                        </div>
                        <div class="empty-space marg-sm-b30"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <div class="tt-service-icon">
                                <img src="{{ STATIC_URL }}img/service/service_15.png" height="107" width="107" alt="">
                            </div>
                            <div class="tt-service-info">
                                <a class="tt-service-title c-h5" >Paranızı Koruyun</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="empty-space marg-lg-b80 marg-md-b30 marg-xs-b60"></div>
            </div>
        </div>

        <!-- TT-TWO-BLOCK -->
        <div class="bg-2">
            <div class="tt-two-blocks">
                <div class="container">
					<div class="empty-space marg-lg-b50 marg-md-b30"></div>
						<div class="simple-text-video">
							<h3><center>Uygulamalı Prosİl Tanıtım FİLMİNİ İzleyebİlİrsİnİz </center></h3>
						</div>
						<div><center>
						<iframe width="960" height="540" src="https://www.youtube.com/embed/GOFQtW2BFA4"
						 frameborder="0" allowfullscreen></iframe></center>
						<!--<video class='centre' width="960" height="540" poster="{{ STATIC_URL }}img/videoPoster.png" controls>
							<source src="video/otel-end-TR.mp4" type="video/mp4">
							Your browser does not support the video tag.
						</video> -->
						 </div>
						</div>
					<div class="empty-space marg-lg-b50 marg-md-b30"></div>
            </div>
        </div>

        <!-- TT-PROJECT -->
        <div class="container">
			<a name="products"></a>
            <div class="empty-space marg-lg-b70 marg-md-b60"></div>
            <h3 class="tt-block-title c-h3">Prosil Ekipmanları</h3>
            <div class="empty-space marg-lg-b50 marg-md-b30"></div>

            <div class="tt-project-wrapper">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="tt-project">
                            <img class="img-responsive" src="{{ STATIC_URL }}img/urunlerGenel/machine.png" height="241" width="370" alt="">
                            <h4 class="tt-project-title-bottom">Çamaşır Makinesi</h4>
                            <span class="tt-project-hover">
                                <span class="tt-project-btn">
                                    <a href="makine.html"><i class="stroke-icon icon-Linked"></i></a>
                                    <a class="lightbox" data-title="Testing & Inspection" href="{{ STATIC_URL }}img/urunlerGenel/machine.png"><i class="stroke-icon icon-Search"></i></a>
                                </span>
                                <span class="tt-project-info">
                                    <a class="tt-project-link" href="makine.html">Çamaşır Makinesi</a>
                                    <span class="simple-text">Kimyasalların Emdirilmesi</span>
                                </span>
                            </span>
                        </div>
                        <div class="empty-space marg-lg-b30"></div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="tt-project">
                            <img class="img-responsive" src="{{ STATIC_URL }}img/urunlerGenel/machine.png" height="241" width="370" alt="">
                            <h4 class="tt-project-title-bottom">Çamaşır Makinesi</h4>
                            <span class="tt-project-hover">
                                <span class="tt-project-btn">
                                    <a href="makine.html"><i class="stroke-icon icon-Linked"></i></a>
                                    <a class="lightbox" data-title="Testing & Inspection" href="{{ STATIC_URL }}img/urunlerGenel/machine.png"><i class="stroke-icon icon-Search"></i></a>
                                </span>
                                <span class="tt-project-info">
                                    <a class="tt-project-link" href="makine.html">Çamaşır Makinesi</a>
                                    <span class="simple-text">Kimyasalların Emdirilmesi</span>
                                </span>
                            </span>
                        </div>
                        <div class="empty-space marg-lg-b30"></div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="tt-project">
                            <img class="img-responsive" src="{{ STATIC_URL }}img/urunlerGenel/mopTam.png" height="241" width="370" alt="">
                            <h4 class="tt-project-title-bottom">Moplar & Mop Aparatı</h4>
                            <span class="tt-project-hover">
                                <span class="tt-project-btn">
                                    <a href="mop.html"><i class="stroke-icon icon-Linked"></i></a>
                                    <a class="lightbox" data-title="Domestic Project" href="{{ STATIC_URL }}img/urunlerGenel/mopTam.png"><i class="stroke-icon icon-Search"></i></a>
                                </span>
                                <span class="tt-project-info">
                                    <a class="tt-project-link" href="mop.html">Moplar & Mop Aparatı</a>
                                    <span class="simple-text">Ergonomik Çalışma Şartları</span>
                                </span>
                            </span>
                        </div>
                        <div class="empty-space marg-lg-b30"></div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="tt-project">
                            <img class="img-responsive" src="{{ STATIC_URL }}img/urunlerGenel/dozaj.png" height="241" width="370" alt="">
                            <h4 class="tt-project-title-bottom">Dozaj ünitesi</h4>
                            <span class="tt-project-hover">
                                <span class="tt-project-btn">
                                    <a href="dozaj.html"><i class="stroke-icon icon-Linked"></i></a>
                                    <a class="lightbox" data-title="Domestic Project" href="{{ STATIC_URL }}img/urunlerGenel/dozaj.png"><i class="stroke-icon icon-Search"></i></a>
                                </span>
                                <span class="tt-project-info">
                                    <a class="tt-project-link" href="dozaj.html">Dozaj ünitesi</a>
                                    <span class="simple-text">Minimum Kimyasal Kullanımı</span>
                                </span>
                            </span>
                        </div>
                        <div class="empty-space marg-lg-b30"></div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="tt-project">
                            <img class="img-responsive" src="{{ STATIC_URL }}img/urunlerGenel/kartus.png" height="241" width="370" alt="">
                            <h4 class="tt-project-title-bottom">Taşıma KArtuşu</h4>
                            <span class="tt-project-hover">
                                <span class="tt-project-btn">
                                    <a href="kartus.html"><i class="stroke-icon icon-Linked"></i></a>
                                    <a class="lightbox" data-title="commercial project" href="{{ STATIC_URL }}img/urunlerGenel/kartus.png"><i class="stroke-icon icon-Search"></i></a>
                                </span>
                                <span class="tt-project-info">
                                    <a class="tt-project-link" href="kartus.html">Taşıma Kartuşu</a>
                                    <span class="simple-text">Sistem İhtiyaçlarına Uygunluk</span>
                                </span>
                            </span>
                        </div>
                        <div class="empty-space marg-lg-b30"></div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="tt-project">
                            <img class="img-responsive" src="{{ STATIC_URL }}img/urunlerGenel/bez.png" height="241" width="370" alt="">
                            <h4 class="tt-project-title-bottom">Özel Bezler</h4>
                            <span class="tt-project-hover">
                                <span class="tt-project-btn">
                                    <a href="bezler.html"><i class="stroke-icon icon-Linked"></i></a>
                                    <a class="lightbox" data-title="Official project" href="{{ STATIC_URL }}img/urunlerGenel/bez.png"><i class="stroke-icon icon-Search"></i></a>
                                </span>
                                <span class="tt-project-info">
                                    <a class="tt-project-link" href="bezler.html">Özel Bezler</a>
                                    <span class="simple-text">Kalıntı bırakmadan uzun süreli etki</span>
                                </span>
                            </span>
                        </div>
                        <div class="empty-space marg-lg-b30"></div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="tt-project">
                            <img class="img-responsive" src="{{ STATIC_URL }}img/urunlerGenel/araba.png" height="241" width="370" alt="">
                            <h4 class="tt-project-title-bottom">Kat Arabası</h4>
                            <span class="tt-project-hover">
                                <span class="tt-project-btn">
                                    <a href="katAraba.html"><i class="stroke-icon icon-Linked"></i></a>
                                    <a class="lightbox" data-title="Official project" href="{{ STATIC_URL }}img/urunlerGenel/araba.png"><i class="stroke-icon icon-Search"></i></a>
                                </span>
                                <span class="tt-project-info">
                                    <a class="tt-project-link" href="katAraba.html">Kat Arabası</a>
                                    <span class="simple-text">Maksimum hız ve verim</span>
                                </span>
                            </span>
                        </div>
                        <div class="empty-space marg-lg-b30"></div>
                    </div>
                </div>
            </div>
            <div class="empty-space marg-lg-b50 marg-md-b30"></div>
        </div>

        <div class="bg-1">
            <div class="container">
                <div class="empty-space marg-lg-b70 marg-md-b60"></div>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="tt-block-title c-h3">Basında Prosil</h3>
                        <div class="empty-space marg-lg-b50 marg-md-b30"></div>
                        <div class="tt-post">
                            <a class="tt-post-img custom-hover">
                                <span class="tt-post-imgbg" style="background-image:url({{ STATIC_URL }}img/post/post_1.png);"></span>
                                <div class="tt-post-date"><span>Mayıs</span>2016</div>
                            </a>
                            <div class="tt-post-info clearfix">
                                <div class="tt-post-inner">
                                    <a class="tt-post-link" href="basinda.html">Turizm Düyası Dergi Röportaj</a>
                                    <div class="simple-text font-2"><p>Klasik temizlik metodunda  kullanılan temizlik  sistemini incelediğimizde, temizlik kimyasalının
                                    uygun oranlarda hazırlanarak bez...</p></div>
                                    <div class="tt-post-label">
                                        <span>By: <a href="http://www.turizmdunyasi.com.tr/">Turizm Dünyası Dergi</a></span>
                                        <span><a href="basinda.html">Devamını Oku</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="empty-space marg-lg-b30"></div>
                        <div class="empty-space marg-md-b60"></div>
                    </div>
                    <div class="col-md-6 col-lg-5 col-lg-offset-1">
                        <h3 class="tt-block-title c-h3">Referanslarımız</h3>
                        <div class="empty-space marg-lg-b50 marg-md-b30"></div>


                        <div class="swiper-container" data-autoplay="5000" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide active" data-val="0">
                                    <div class="tt-testimonial">
                                        <div class="tt-testimonial-top clearfix">
                                            <a class="tt-testimonial-user custom-hover round">
                                                <img class="img-responsive" src="{{ STATIC_URL }}img/referanslar/inovia.png" height="126" width="126" alt="">
                                            </a>
                                            <div class="tt-testimonial-info">
                                                <a class="tt-testimonial-title">İnovia2 (Esenyurt/İstanbul)</a>
                                                <div class="simple-text">
                                                    <p>İnovia2 (Esenyurt/İstanbul) 3700 konutluk site prosili seçti. 2013'ten beri çözüm ortaklığımız devam etmektedir.</p>
                                                </div>
                                                <div class="tt-testimonial-rating">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide active" data-val="1">
                                    <div class="tt-testimonial">
                                        <div class="tt-testimonial-top clearfix">
                                            <a class="tt-testimonial-user custom-hover round">
                                                <img class="img-responsive" src="{{ STATIC_URL }}img/referanslar/conrad.png" height="126" width="126" alt="">
                                            </a>
                                            <div class="tt-testimonial-info">
                                                <a class="tt-testimonial-title">Conrad İstanbul Bosphorous</a>
                                                <div class="simple-text">
                                                    <p>2015 Haziran ayından beri Conrad İstanbul Otel misafirlerinin hijyenini prosil sistem ile sağlamaktadır.</p>
                                                </div>
                                                <div class="tt-testimonial-rating">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="swiper-slide active" data-val="2">
                                    <div class="tt-testimonial">
                                        <div class="tt-testimonial-top clearfix">
                                            <a class="tt-testimonial-user custom-hover round">
                                                <img class="img-responsive" src="{{ STATIC_URL }}img/referanslar/hilton.png" height="126" width="126" alt="">
                                            </a>
                                            <div class="tt-testimonial-info">
                                                <a class="tt-testimonial-title">Hilton İstanbul Bosphorous</a>
                                                <div class="simple-text">
                                                    <p>2016 Ocak ayından beri Hilton İstanbul Bosphorous Otel misafirlerinin hijyenini prosil sistem ile sağlamaktadır.</p>
                                                </div>
                                                <div class="tt-testimonial-rating">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="pagination type-1"></div>
                        </div>
                    </div>
                </div>
                <div class="empty-space marg-lg-b110 marg-md-b50"></div>


            </div>
        </div>
    </div>
{% endblock content %}
